In [1]:
import pandas as pd
import numpy as np

In [2]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

give the column name 
u.data-has information
convet into english

In [3]:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]

In [4]:
print("The number of user:",n_users)
print("The number of n_items:",n_items)

The number of user: 943
The number of n_items: 1682

In [5]:
datama=ratings.pivot_table(index='user_id',columns='movie_id',values='rating')
datama

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_matrix=datama.replace(np.nan,0)
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
user_similarity

array([[2.22044605e-15, 8.33069016e-01, 9.52540457e-01, ...,
        8.51383057e-01, 8.20492117e-01, 6.01825261e-01],
       [8.33069016e-01, 0.00000000e+00, 8.89408675e-01, ...,
        8.38515222e-01, 8.27732187e-01, 8.94202122e-01],
       [9.52540457e-01, 8.89408675e-01, 0.00000000e+00, ...,
        8.98757435e-01, 8.66583851e-01, 9.73444131e-01],
       ...,
       [8.51383057e-01, 8.38515222e-01, 8.98757435e-01, ...,
        0.00000000e+00, 8.98358201e-01, 9.04880419e-01],
       [8.20492117e-01, 8.27732187e-01, 8.66583851e-01, ...,
        8.98358201e-01, 0.00000000e+00, 8.17535338e-01],
       [6.01825261e-01, 8.94202122e-01, 9.73444131e-01, ...,
        9.04880419e-01, 8.17535338e-01, 0.00000000e+00]])

In [8]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1).values
        rating_diff = ratings - mean_user_rating[:, np.newaxis]
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(rating_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [9]:
user_prediction = predict(data_matrix, user_similarity, type='user')
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

In [10]:
user_similarity.shape

(943, 943)

in this function we are calulating user and items rating and similarities
type is user
in if condition we are taking mean for rating
next how ratings differes can be calculated by  mean_user_rating(mean taken for ratings) is subracted by ratings
the prediction can be done by add the mean_user_rating and similarity then divide by array of similarity

In [11]:
input_user=25

In [12]:
user_sim_table=pd.DataFrame(user_similarity)
user_sim_table

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,2.220446e-15,0.833069,0.952540,0.935642,6.215248e-01,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,6.859280e-01,0.851383,0.820492,0.601825
1,8.330690e-01,0.000000,0.889409,0.821879,9.270210e-01,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,7.732100e-01,0.838515,0.827732,0.894202
2,9.525405e-01,0.889409,0.000000,0.655849,9.787555e-01,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,8.381099e-01,0.898757,0.866584,0.973444
3,9.356422e-01,0.821879,0.655849,0.000000,9.681958e-01,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,8.031418e-01,0.847959,0.829914,0.941248
4,6.215248e-01,0.927021,0.978755,0.968196,1.110223e-16,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,7.600453e-01,0.860405,0.847503,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8.819047e-01,0.771417,0.973729,0.969862,9.285415e-01,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,9.123129e-01,0.819971,0.956736,0.855750
939,6.859280e-01,0.773210,0.838110,0.803142,7.600453e-01,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,2.220446e-16,0.854848,0.738624,0.758972
940,8.513831e-01,0.838515,0.898757,0.847959,8.604049e-01,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,8.548477e-01,0.000000,0.898358,0.904880
941,8.204921e-01,0.827732,0.866584,0.829914,8.475026e-01,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,7.386238e-01,0.898358,0.000000,0.817535
942,6.018253e-01,0.894202,0.973444,0.941248,6.860592e-01,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,7.589723e-01,0.904880,0.817535,0.000000

In [13]:
similar_input_user= user_sim_table[input_user].sort_values(ascending=True).head(5).index
similar_input_user

Int64Index([25, 431, 633, 103, 833], dtype='int64')

In [14]:
similar_user_input=list(similar_input_user)

In [15]:
similar_user_movieid_list=[]
for sim_user in similar_user_input:
    sim=list(ratings[ratings['user_id']==sim_user]['movie_id'])
    similar_user_movieid_list.append(sim)

In [16]:
len(similar_user_movieid_list)

5

In [17]:
similar_user_movieid_list

[[181,
  357,
  222,
  501,
  257,
  208,
  25,
  258,
  615,
  228,
  729,
  478,
  174,
  477,
  742,
  127,
  498,
  455,
  480,
  269,
  135,
  151,
  189,
  520,
  238,
  50,
  8,
  969,
  169,
  13,
  197,
  427,
  239,
  114,
  432,
  633,
  275,
  141,
  479,
  655,
  474,
  143,
  195,
  265,
  968,
  186,
  116,
  568,
  837,
  131,
  404,
  495,
  463,
  183,
  604,
  98,
  23,
  929,
  430,
  173,
  1,
  408,
  419,
  121,
  133,
  134,
  527,
  204,
  79,
  612,
  125,
  7,
  177,
  82,
  692,
  657,
  86,
  176],
 [286,
  748,
  538,
  879,
  323,
  988,
  322,
  754,
  307,
  300,
  245,
  358,
  327,
  689,
  302,
  690,
  294,
  269,
  328,
  332,
  303],
 [28,
  1132,
  176,
  526,
  143,
  288,
  778,
  79,
  234,
  410,
  183,
  172,
  322,
  385,
  276,
  317,
  651,
  252,
  566,
  110,
  121,
  117,
  665,
  177,
  405,
  128,
  5,
  1019,
  289,
  939,
  333,
  1046,
  498,
  921,
  328,
  958,
  98,
  318,
  56,
  77,
  147,
  50,
  237,
  97,
  871,
  45,
  423,
  82,
  94,
  71,
  581,
  96,
  148,
  654,
  195,
  300,
  226,
  159],
 [24,
  127,
  121,
  117,
  144,
  126,
  300,
  222,
  527,
  50,
  471,
  96,
  69,
  234,
  252,
  1089,
  204,
  405,
  301,
  250,
  255,
  257,
  211,
  181,
  487,
  118,
  294,
  56,
  98],
 [340,
  544,
  546,
  161,
  156,
  673,
  483,
  121,
  367,
  129,
  187,
  441,
  160,
  831,
  205,
  52,
  204,
  127,
  854,
  379,
  653,
  154,
  614,
  1214,
  22,
  157,
  449,
  128,
  928,
  208,
  191,
  151,
  50,
  203,
  328,
  657,
  479,
  512,
  715,
  211,
  550,
  663,
  488,
  93,
  159,
  98,
  111,
  640,
  53,
  28,
  518,
  675,
  444,
  919,
  1016,
  696,
  628,
  427,
  597,
  434,
  1231,
  385,
  558,
  185,
  665,
  1071,
  403,
  552,
  647,
  183,
  186,
  325,
  451,
  1597,
  384,
  730,
  504,
  636,
  72,
  1154,
  144,
  933,
  670,
  320,
  396,
  92,
  943,
  977,
  511,
  7,
  432,
  405,
  302,
  573,
  198,
  1012,
  33,
  108,
  1017,
  206,
  195,
  642,
  5,
  654,
  826,
  209,
  616,
  30,
  452,
  240,
  649,
  68,
  96,
  56,
  249,
  1118,
  177,
  443,
  262,
  381,
  69,
  118,
  428,
  923,
  67,
  656,
  122,
  218,
  445,
  475,
  431,
  671,
  522,
  684,
  152,
  589,
  515,
  667,
  100,
  188,
  435,
  168,
  289,
  238,
  202,
  1029,
  233,
  235,
  324,
  293,
  106,
  89,
  291,
  508,
  175,
  521,
  234,
  194,
  79,
  460,
  1386,
  55,
  135,
  227,
  745,
  436,
  24,
  506,
  1143,
  861,
  172,
  430,
  182,
  1428,
  134,
  1210,
  192,
  1019,
  455,
  164,
  806,
  742,
  271,
  226,
  840,
  433,
  150,
  217,
  181,
  163,
  526,
  200,
  591,
  1335,
  429,
  64,
  679,
  346,
  655,
  860,
  223,
  401,
  576,
  264,
  23,
  32,
  184,
  581,
  664,
  38,
  1187,
  273,
  174,
  1149,
  578,
  13,
  76,
  197,
  298,
  645,
  448,
  980,
  467,
  230,
  47,
  378,
  517,
  819,
  1070,
  1427,
  931,
  357,
  447,
  577,
  179,
  646,
  1274,
  201,
  761,
  824,
  267,
  523,
  336,
  250,
  58,
  4,
  940,
  219,
  347,
  802,
  284,
  410,
  180,
  26,
  153,
  1353,
  1006,
  1628,
  641,
  176,
  540,
  12,
  288,
  1181,
  11,
  344,
  474]]

In [18]:
import itertools
similar_user_movieid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))

In [19]:
len(similar_user_movieid_single_list)

453

In [20]:
Unique_movieid_similar_user=set(similar_user_movieid_single_list)

In [21]:
len(Unique_movieid_similar_user)

362

In [22]:
input_user_watched_movieid=list(ratings[ratings['user_id']==input_user]['movie_id'].values)

In [23]:
input_user_watched_movieid

[181,
 357,
 222,
 501,
 257,
 208,
 25,
 258,
 615,
 228,
 729,
 478,
 174,
 477,
 742,
 127,
 498,
 455,
 480,
 269,
 135,
 151,
 189,
 520,
 238,
 50,
 8,
 969,
 169,
 13,
 197,
 427,
 239,
 114,
 432,
 633,
 275,
 141,
 479,
 655,
 474,
 143,
 195,
 265,
 968,
 186,
 116,
 568,
 837,
 131,
 404,
 495,
 463,
 183,
 604,
 98,
 23,
 929,
 430,
 173,
 1,
 408,
 419,
 121,
 133,
 134,
 527,
 204,
 79,
 612,
 125,
 7,
 177,
 82,
 692,
 657,
 86,
 176]

In [24]:

recom=[]
for per_id in Unique_movieid_similar_user:
    if(per_id in input_user_watched_movieid):
        pass
    else:
        recom.append(per_id)

In [25]:
len(recom)

284

In [26]:
sorted(recom)

[4,
 5,
 11,
 12,
 22,
 24,
 26,
 28,
 30,
 32,
 33,
 38,
 45,
 47,
 52,
 53,
 55,
 56,
 58,
 64,
 67,
 68,
 69,
 71,
 72,
 76,
 77,
 89,
 92,
 93,
 94,
 96,
 97,
 100,
 106,
 108,
 110,
 111,
 117,
 118,
 122,
 126,
 128,
 129,
 144,
 147,
 148,
 150,
 152,
 153,
 154,
 156,
 157,
 159,
 160,
 161,
 163,
 164,
 168,
 172,
 175,
 179,
 180,
 182,
 184,
 185,
 187,
 188,
 191,
 192,
 194,
 198,
 200,
 201,
 202,
 203,
 205,
 206,
 209,
 211,
 217,
 218,
 219,
 223,
 226,
 227,
 230,
 233,
 234,
 235,
 237,
 240,
 245,
 249,
 250,
 252,
 255,
 262,
 264,
 267,
 271,
 273,
 276,
 284,
 286,
 288,
 289,
 291,
 293,
 294,
 298,
 300,
 301,
 302,
 303,
 307,
 317,
 318,
 320,
 322,
 323,
 324,
 325,
 327,
 328,
 332,
 333,
 336,
 340,
 344,
 346,
 347,
 358,
 367,
 378,
 379,
 381,
 384,
 385,
 396,
 401,
 403,
 405,
 410,
 423,
 428,
 429,
 431,
 433,
 434,
 435,
 436,
 441,
 443,
 444,
 445,
 447,
 448,
 449,
 451,
 452,
 460,
 467,
 471,
 475,
 483,
 487,
 488,
 504,
 506,
 508,
 511,
 512,
 515,
 517,
 518,
 521,
 522,
 523,
 526,
 538,
 540,
 544,
 546,
 550,
 552,
 558,
 566,
 573,
 576,
 577,
 578,
 581,
 589,
 591,
 597,
 614,
 616,
 628,
 636,
 640,
 641,
 642,
 645,
 646,
 647,
 649,
 651,
 653,
 654,
 656,
 663,
 664,
 665,
 667,
 670,
 671,
 673,
 675,
 679,
 684,
 689,
 690,
 696,
 715,
 730,
 745,
 748,
 754,
 761,
 778,
 802,
 806,
 819,
 824,
 826,
 831,
 840,
 854,
 860,
 861,
 871,
 879,
 919,
 921,
 923,
 928,
 931,
 933,
 939,
 940,
 943,
 958,
 977,
 980,
 988,
 1006,
 1012,
 1016,
 1017,
 1019,
 1029,
 1046,
 1070,
 1071,
 1089,
 1118,
 1132,
 1143,
 1149,
 1154,
 1181,
 1187,
 1210,
 1214,
 1231,
 1274,
 1335,
 1353,
 1386,
 1427,
 1428,
 1597,
 1628]

In [27]:
 sorted(Unique_movieid_similar_user)

[1,
 4,
 5,
 7,
 8,
 11,
 12,
 13,
 22,
 23,
 24,
 25,
 26,
 28,
 30,
 32,
 33,
 38,
 45,
 47,
 50,
 52,
 53,
 55,
 56,
 58,
 64,
 67,
 68,
 69,
 71,
 72,
 76,
 77,
 79,
 82,
 86,
 89,
 92,
 93,
 94,
 96,
 97,
 98,
 100,
 106,
 108,
 110,
 111,
 114,
 116,
 117,
 118,
 121,
 122,
 125,
 126,
 127,
 128,
 129,
 131,
 133,
 134,
 135,
 141,
 143,
 144,
 147,
 148,
 150,
 151,
 152,
 153,
 154,
 156,
 157,
 159,
 160,
 161,
 163,
 164,
 168,
 169,
 172,
 173,
 174,
 175,
 176,
 177,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 191,
 192,
 194,
 195,
 197,
 198,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 208,
 209,
 211,
 217,
 218,
 219,
 222,
 223,
 226,
 227,
 228,
 230,
 233,
 234,
 235,
 237,
 238,
 239,
 240,
 245,
 249,
 250,
 252,
 255,
 257,
 258,
 262,
 264,
 265,
 267,
 269,
 271,
 273,
 275,
 276,
 284,
 286,
 288,
 289,
 291,
 293,
 294,
 298,
 300,
 301,
 302,
 303,
 307,
 317,
 318,
 320,
 322,
 323,
 324,
 325,
 327,
 328,
 332,
 333,
 336,
 340,
 344,
 346,
 347,
 357,
 358,
 367,
 378,
 379,
 381,
 384,
 385,
 396,
 401,
 403,
 404,
 405,
 408,
 410,
 419,
 423,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 441,
 443,
 444,
 445,
 447,
 448,
 449,
 451,
 452,
 455,
 460,
 463,
 467,
 471,
 474,
 475,
 477,
 478,
 479,
 480,
 483,
 487,
 488,
 495,
 498,
 501,
 504,
 506,
 508,
 511,
 512,
 515,
 517,
 518,
 520,
 521,
 522,
 523,
 526,
 527,
 538,
 540,
 544,
 546,
 550,
 552,
 558,
 566,
 568,
 573,
 576,
 577,
 578,
 581,
 589,
 591,
 597,
 604,
 612,
 614,
 615,
 616,
 628,
 633,
 636,
 640,
 641,
 642,
 645,
 646,
 647,
 649,
 651,
 653,
 654,
 655,
 656,
 657,
 663,
 664,
 665,
 667,
 670,
 671,
 673,
 675,
 679,
 684,
 689,
 690,
 692,
 696,
 715,
 729,
 730,
 742,
 745,
 748,
 754,
 761,
 778,
 802,
 806,
 819,
 824,
 826,
 831,
 837,
 840,
 854,
 860,
 861,
 871,
 879,
 919,
 921,
 923,
 928,
 929,
 931,
 933,
 939,
 940,
 943,
 958,
 968,
 969,
 977,
 980,
 988,
 1006,
 1012,
 1016,
 1017,
 1019,
 1029,
 1046,
 1070,
 1071,
 1089,
 1118,
 1132,
 1143,
 1149,
 1154,
 1181,
 1187,
 1210,
 1214,
 1231,
 1274,
 1335,
 1353,
 1386,
 1427,
 1428,
 1597,
 1628]

In [28]:
sorted(input_user_watched_movieid)

[1,
 7,
 8,
 13,
 23,
 25,
 50,
 79,
 82,
 86,
 98,
 114,
 116,
 121,
 125,
 127,
 131,
 133,
 134,
 135,
 141,
 143,
 151,
 169,
 173,
 174,
 176,
 177,
 181,
 183,
 186,
 189,
 195,
 197,
 204,
 208,
 222,
 228,
 238,
 239,
 257,
 258,
 265,
 269,
 275,
 357,
 404,
 408,
 419,
 427,
 430,
 432,
 455,
 463,
 474,
 477,
 478,
 479,
 480,
 495,
 498,
 501,
 520,
 527,
 568,
 604,
 612,
 615,
 633,
 655,
 657,
 692,
 729,
 742,
 837,
 929,
 968,
 969]

In [29]:
list(set(Unique_movieid_similar_user)&set(input_user_watched_movieid))

[1,
 7,
 520,
 8,
 13,
 527,
 23,
 25,
 50,
 568,
 79,
 82,
 86,
 604,
 98,
 612,
 615,
 114,
 116,
 633,
 121,
 125,
 127,
 131,
 133,
 134,
 135,
 141,
 655,
 143,
 657,
 151,
 169,
 173,
 174,
 176,
 177,
 692,
 181,
 183,
 186,
 189,
 195,
 197,
 204,
 208,
 729,
 222,
 228,
 742,
 238,
 239,
 257,
 258,
 265,
 269,
 275,
 837,
 357,
 404,
 408,
 929,
 419,
 427,
 430,
 432,
 455,
 968,
 969,
 463,
 474,
 477,
 478,
 479,
 480,
 495,
 498,
 501]

In [30]:
user_pred=pd.DataFrame(user_prediction)
user_pred

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,2.065326,0.734303,0.629924,1.010669,0.640686,0.476150,1.784569,1.163032,1.513350,0.704478,...,0.394041,0.394434,0.393981,0.392972,0.393344,0.392272,0.394909,0.393590,0.393049,0.392771
1,1.763088,0.384040,0.196179,0.731538,0.225643,0.003892,1.493597,0.876153,1.108467,0.261991,...,-0.086942,-0.085491,-0.087137,-0.088158,-0.087298,-0.089288,-0.087468,-0.088378,-0.086918,-0.086712
2,1.795904,0.329047,0.158829,0.684154,0.173277,-0.035621,1.488230,0.835769,1.135426,0.236383,...,-0.134795,-0.133537,-0.135543,-0.136438,-0.135041,-0.137611,-0.136374,-0.136992,-0.134969,-0.134765
3,1.729951,0.293913,0.127741,0.644932,0.142143,-0.062261,1.437010,0.796249,1.096663,0.211789,...,-0.161413,-0.160220,-0.161542,-0.162586,-0.161634,-0.163877,-0.162283,-0.163080,-0.161442,-0.161248
4,1.796651,0.454474,0.354422,0.763130,0.359539,0.195987,1.547370,0.908904,1.292027,0.437954,...,0.101762,0.102405,0.101923,0.100839,0.101711,0.099951,0.102515,0.101233,0.101075,0.101201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,1.676950,0.346339,0.177518,0.689906,0.199740,0.003297,1.429565,0.830905,1.070986,0.262183,...,-0.092434,-0.091197,-0.092851,-0.093801,-0.092953,-0.094539,-0.092217,-0.093378,-0.092686,-0.092423
939,1.822346,0.419125,0.286430,0.715605,0.294442,0.106633,1.514591,0.853050,1.195304,0.359260,...,0.014060,0.014688,0.014123,0.013060,0.013669,0.011978,0.014065,0.013021,0.013639,0.013796
940,1.591515,0.275269,0.102195,0.624383,0.133762,-0.069553,1.320734,0.765529,1.035088,0.192697,...,-0.166179,-0.164981,-0.166278,-0.167392,-0.166679,-0.168486,-0.166217,-0.167352,-0.166575,-0.166414
941,1.810363,0.404799,0.275450,0.726616,0.281316,0.087068,1.550310,0.850057,1.205745,0.342987,...,-0.008362,-0.007757,-0.008225,-0.009218,-0.008232,-0.010138,-0.008009,-0.009074,-0.008466,-0.008049
942,1.838431,0.479648,0.384963,0.780521,0.388442,0.240998,1.564232,0.946704,1.289865,0.487383,...,0.147027,0.148208,0.147193,0.146199,0.146916,0.145539,0.148194,0.146867,0.146298,0.146415

In [31]:
user_pred_Trans=user_pred.T
user_pred_Trans[25]

0       1.727871
1       0.417929
2       0.224351
3       0.767855
4       0.267375
          ...
1677   -0.034401
1678   -0.032314
1679   -0.033358
1680   -0.032279
1681   -0.032147
Name: 25, Length: 1682, dtype: float64

In [32]:
gg=user_pred_Trans[25]
g=pd.DataFrame(gg)
s=g.T
s[187].values >=0.4

array([ True])

In [33]:
highest_Rated=[]
input_user_pre=pd.DataFrame(user_pred_Trans[input_user])
input_user_pred=input_user_pre.T
for re in recom:
    value=input_user_pred[re].values
    if(value>=1):
        highest_Rated.append(re)

In [70]:
len(highest_Rated)

23

In [71]:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

In [72]:
movie_title=[]
for movieid in highest_Rated:
    mov=items[items['movie id']==movieid]['movie title'].values
    movie_title.append(mov)

In [73]:
movie_title

[array(['Seven (Se7en) (1995)'], dtype=object),
 array(['Professional, The (1994)'], dtype=object),
 array(['Crow, The (1994)'], dtype=object),
 array(['Terminator 2: Judgment Day (1991)'], dtype=object),
 array(['Dances with Wolves (1990)'], dtype=object),
 array(['Spitfire Grill, The (1996)'], dtype=object),
 array(['Swingers (1996)'], dtype=object),
 array(['Sleeper (1973)'], dtype=object),
 array(['Empire Strikes Back, The (1980)'], dtype=object),
 array(['Brazil (1985)'], dtype=object),
 array(['Apocalypse Now (1979)'], dtype=object),
 array(['GoodFellas (1990)'], dtype=object),
 array(['Army of Darkness (1993)'], dtype=object),
 array(['Psycho (1960)'], dtype=object),
 array(['Sting, The (1973)'], dtype=object),
 array(['Evil Dead II (1987)'], dtype=object),
 array(['Unforgiven (1992)'], dtype=object),
 array(['This Is Spinal Tap (1984)'], dtype=object),
 array(['Under Siege (1992)'], dtype=object),
 array(['Jerry Maguire (1996)'], dtype=object),
 array(['Donnie Brasco (1997)'], dtype=object),
 array(['In & Out (1997)'], dtype=object),
 array(['In the Name of the Father (1993)'], dtype=object)]

In [74]:
movie_title_list=[]
for m in movie_title:
    print(m)
    mv=list(m)
    movie_title_list.append(mv)

['Seven (Se7en) (1995)']
['Professional, The (1994)']
['Crow, The (1994)']
['Terminator 2: Judgment Day (1991)']
['Dances with Wolves (1990)']
['Spitfire Grill, The (1996)']
['Swingers (1996)']
['Sleeper (1973)']
['Empire Strikes Back, The (1980)']
['Brazil (1985)']
['Apocalypse Now (1979)']
['GoodFellas (1990)']
['Army of Darkness (1993)']
['Psycho (1960)']
['Sting, The (1973)']
['Evil Dead II (1987)']
['Unforgiven (1992)']
['This Is Spinal Tap (1984)']
['Under Siege (1992)']
['Jerry Maguire (1996)']
['Donnie Brasco (1997)']
['In & Out (1997)']
['In the Name of the Father (1993)']

In [75]:
import itertools
Final_Recommend_movie=list(itertools.chain.from_iterable(movie_title_list))

In [76]:
Final_Recommend_movie

['Seven (Se7en) (1995)',
 'Professional, The (1994)',
 'Crow, The (1994)',
 'Terminator 2: Judgment Day (1991)',
 'Dances with Wolves (1990)',
 'Spitfire Grill, The (1996)',
 'Swingers (1996)',
 'Sleeper (1973)',
 'Empire Strikes Back, The (1980)',
 'Brazil (1985)',
 'Apocalypse Now (1979)',
 'GoodFellas (1990)',
 'Army of Darkness (1993)',
 'Psycho (1960)',
 'Sting, The (1973)',
 'Evil Dead II (1987)',
 'Unforgiven (1992)',
 'This Is Spinal Tap (1984)',
 'Under Siege (1992)',
 'Jerry Maguire (1996)',
 'Donnie Brasco (1997)',
 'In & Out (1997)',
 'In the Name of the Father (1993)']

In [77]:
list(set(recom)&set(input_user_watched_movieid))

[]

In [78]:
def userbased(input_user,user_similarity,user_predictions,similar_user_count,thres):
    user_sim_table=pd.DataFrame(user_similarity)
    similar_input_user= user_sim_table[input_user].sort_values(ascending=True).head(similar_user_count).index
    similar_user_input=list(similar_input_user) 
    similar_user_movieid_list=[]
    for sim_user in similar_user_input:
        sim=list(ratings[ratings['user_id']==sim_user]['movie_id'])
        similar_user_movieid_list.append(sim)
    import itertools
    similar_user_movieid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))
    Unique_movieid_similar_user=set(similar_user_movieid_single_list)
    input_user_watched_movieid=list(ratings[ratings['user_id']==input_user]['movie_id'].values)
    recom=[]
    for per_id in Unique_movieid_similar_user:
        if(per_id in input_user_watched_movieid):
            pass
        else:
            recom.append(per_id)
    highest_Rated=[]
    user_pred=pd.DataFrame(user_prediction)
    user_pred_Trans=user_pred.T
    input_user_pre=pd.DataFrame(user_pred_Trans[input_user])
    input_user_pred=input_user_pre.T
    for re in recom:
        value=input_user_pred[re].values
        if(value>=thres):
            highest_Rated.append(re)
    i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')
    movie_title=[]
    for movieid in highest_Rated:
        mov=items[items['movie id']==movieid]['movie title'].values
        movie_title.append(mov)
    movie_title_list=[]
    for m in movie_title:
        print(m)
        mv=list(m)
        movie_title_list.append(mv)
    import itertools
    Final_Recommend_movie=list(itertools.chain.from_iterable(movie_title_list))
    print("The common Movie in Recom & User:",list(set(recom)&set(input_user_watched_movieid)))
    return Final_Recommend_movie

In [79]:
Recommended_movie=userbased(25,user_similarity,user_pred,5,1.5)

['Professional, The (1994)']
['Dances with Wolves (1990)']
['Spitfire Grill, The (1996)']
['Apocalypse Now (1979)']
['Donnie Brasco (1997)']
The common Movie in Recom & User: []

In [80]:
len(Recommended_movie)

5